body {
    margin: 0;
}

header {
    grid-area: header;
    background-color: rgb(128, 128, 128);
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(4, 25% [column-start]);
}

nav>div {
    display: grid;
    justify-items: center;
    align-items: center;
}

article {
    grid-area: article;
    display: grid;
    justify-items: center;
}

#mainHead {
    display: grid;
    justify-self: center;
    align-self: center;
}

section {
    grid-area: section;
    display: grid;
    justify-items: center;
}

footer {
    grid-area: footer;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: rgb(128, 128, 128);
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 25% [column-start]);
    grid-template-rows: 100px 50px auto 50px;
    grid-template-areas: "header header header header" "nav nav nav nav" "article section section section" "footer footer footer footer";
    width: 100%;
    height: 100vh;
}

#logo {
    display: grid;
    overflow: hidden;
    height: calc(100%/2);
}

#logo>div {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-left: 10px;
    background-color: white;
}