<div class="slideshow-container">
  <div
    class="mySlides fade"
    [ngStyle]="{ display: slides[i] ? 'block' : 'none' }"
    *ngFor="let url of urls; index as i"
  >
    <div class="numbertext">{{ i + 1 }} / {{ slides.length }}</div>
    <img src="{{ url }}" style="width: 100%" />
    <div class="text">
      <div style="text-align: center">
        <span
          [ngClass]="getClass(i)"
          (click)="currentSlide(i + 1)"
          *ngFor="let url of urls; index as i"
        ></span>
      </div>
    </div>
  </div>

  <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
  <a class="next" (click)="plusSlides(1)">&#10095;</a>
</div>
<br />
<!-- [ngClass]="{'dot active': dots[i] }" -->
