:host {
  display: flex;
}

#photos {
  width: 60%;
}

.singlePhoto {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-top: 5px;
}

a{
  margin-right: 5px;
}

#currentPhoto {
  width: 40%;
  position: relative;
}

img {
  position: fixed;
}