* {
  margin: 0;
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
}

section>div {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  transition: flex-grow 0.5s;
}

section>div:hover {
  flex-grow: 4;
}

section>div>img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}