<div id="calc">
  <app-display [expression]="expression"></app-display>
  <div id="allButtons">
    <div id="numbers">
      <div *ngFor="let number of availableNumbers">
        <app-button
          [operator]="number"
          (btClick)="addNumber(number)"
        ></app-button>
      </div>
    </div>
    <div id="operators">
      <div *ngFor="let operator of availableOperators">
        <app-button
          [operator]="operator"
          (btClick)="addOperator(operator)"
        ></app-button>
      </div>
    </div>
  </div>
</div>
