<div id="content">
  <div id="showcase">
    <a class="card" routerLink="dishes" routerLinkActive="active">
      <div class="innerCard">
        <div class="frontCard">
          <div class="info">
            <div class="label">Odkryj naszą restauracje</div>
          </div>
        </div>
        <div class="backCard">
          <div class="text">Najwyższa jakość</div>
          <div class="text">Najlepsze doznania</div>
          <div class="text">U NAS!</div>
        </div>
      </div>
    </a>
  </div>
  <div id="contact">
    <div id="bigger">Kontakt:</div>
    <div>Telefon: 631 469 987</div>
    <div>Email: Friko@gmail.com</div>
    <div>Adres: Kraków, Plac Wolnica 7</div>
  </div>
  <div id="map">
    <iframe
      src="https://www.google.com/maps/d/u/0/embed?mid=1MFpDWlmqmNm3KPzO23MXm14Hxs_Nsmo0&usp=sharing"
    ></iframe>
  </div>
</div>
