.container {
  min-height: calc(100vh - 170px);
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

input {
  width: 200px;
}

#errors {
  display: flex;
  flex-direction: column;
  height: 20px;
}

.error {
  height: 100%;
  width: 100%;
  color: red;
  display: flex;
  justify-content: flex-end;
}
