:host {
  width: 20%;
}

#filters {
  padding: 10px;
  position: sticky;
  top: 80px;
}

#filtersName {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.filter {
  margin-bottom: 10px;
}

#priceFilter {
  display: flex;
}

#priceFilter>input {
  width: 50px;
}

#filterButton {
  display: none;
  cursor: pointer;
  width: 100px;
  height: 40px;
  margin-top: 20px;
}

input, select {
  margin: 0 5px;
}


@media (max-width: 1200px) {
  :host {
    width: 100%;
  }

  .filter {
    display: flex;
    flex-wrap: wrap;
  }

  .filter>* {
    margin-right: 10px;
  }

  .filter>*:first-child {
    margin-left: 10px;
  }
}