<div class="container">
  <form [formGroup]="modelForm" (ngSubmit)="loginUser()">
    <label>
      Email:
      <input
        type="email"
        formControlName="email"
        placeholder="E-mail"
        (input)="clearErrors()"
      />
    </label>
    <label>
      Hasło:
      <input
        type="password"
        formControlName="password"
        placeholder="Hasło"
        (input)="clearErrors()"
      />
    </label>
    <label id="errors">
      <div class="error">{{ emailError }}</div>
      <div class="error">{{ passwordError }}</div>
    </label>
    <button type="submit">ZALOGUJ</button>
  </form>
</div>
