<nav>
  <div id="logo">LOGO</div>
  <div id="menu">
    <input type="checkbox" name="navi" id="navi" />
    <label for="navi">
      <div id="box">
        <span class="bar top"></span>
        <span class="bar middle"></span>
        <span class="bar bottom"></span>
      </div>
    </label>
    <ul>
      <li>
        <a (click)="changeNavStatus()" routerLink="" routerLinkActive="active">HOME</a>
      </li>
      <li>
        <a (click)="changeNavStatus()" routerLink="dishes" routerLinkActive="active">MENU</a>
      </li>
      <li *ngIf="isLoggedIn && (role == 'manager' || role == 'admin')">
        <a (click)="changeNavStatus()" routerLink="dishManager" routerLinkActive="active">DISHES MANAGER</a>
      </li>
      <li *ngIf="isLoggedIn && role == 'admin'">
        <a (click)="changeNavStatus()" routerLink="adminView" routerLinkActive="active">ADMIN VIEW</a>
      </li>
      <li *ngIf="!isLoggedIn">
        <a (click)="changeNavStatus()" routerLink="register" routerLinkActive="active">REJESTRACJA</a>
      </li>
      <li *ngIf="!isLoggedIn">
        <a (click)="changeNavStatus()" routerLink="login" routerLinkActive="active">LOGOWANIE</a>
      </li>
      <li *ngIf="isLoggedIn">
        <a (click)="logout()" routerLink="login" routerLinkActive="active">WYLOGUJ</a>
      </li>
    </ul>
  </div>
  <div class="userButtons" *ngIf="isLoggedIn">
    <div id="userNick">{{ user }}</div>
    <app-basket></app-basket>
  </div>
</nav>