<div id="content">
  <div id="showcase">
    <a class="card" routerLink="dishes" routerLinkActive="active">
      <div class="innerCard">
        <div class="frontCard">
          <div class="info">
            <div class="label">Miliardy dań na świecie</div>
            <div class="label">Najlepsze u nas</div>
          </div>
        </div>
        <div class="backCard">
          <div class="text">Najlepsze doznania</div>
          <div class="text">Najwyższa jakość</div>
          <div class="text">U NAS!</div>
        </div>
      </div>
    </a>
  </div>
  <div id="map">
    <iframe
      src="https://maps.google.com/maps?q=Krak%C3%B3w,%20Jana%20Paw%C5%82a%2010&t=&z=13&ie=UTF8&iwloc=&output=embed"
      frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
    </iframe>
  </div>
  <div id="contact">
    <div id="bigger">Kontakt:</div>
    <div>Telefon: 420 469 314</div>
    <div>Email: contact@rest.com</div>
    <div>Adres: Kraków, Jana Pawła II 10</div>
  </div>
</div>