body {
  margin: 0;
}

#container {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#container>* {
  height: 30%;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left {
  width: 35%;
  height: 100%;
  background-color: red;
}

.right {
  width: 60%;
  height: 100%;
  background-color: teal;
}

footer {
  background-color: yellow;
}

.giveBorder {
  border: 1px solid black;
}