div {
  display: flex;
}

.filter {
  height: 40px;
  align-items: center;
}

.filter>div {
  padding: 10px;
}

.col {
  width: 20px;
  height: 20px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid black;
}