<div class="filter">
  <div>CHOOSE BRAND</div>
  <div>
    <select name="brand" id="brand" (change)="onChangeBrand($event)">
      <option disabled selected value="none">-- Select Option --</option>
      <option *ngFor="let name of brands" [value]="name">
        {{ name }}
      </option>
    </select>
  </div>
</div>
<div class="filter">
  <div>CHOOSE MODEL</div>
  <div>
    <select name="model" id="model" (change)="onChangeModel($event)">
      <option disabled selected value="none">-- Select Option --</option>
      <option *ngFor="let name of models" [value]="name">
        {{ name }}
      </option>
    </select>
  </div>
</div>
<div class="filter">
  <div>CHOOSE COLOR</div>
  <div id="carColors">
    <div
      *ngFor="let color of colors"
      [ngStyle]="{ backgroundColor: color }"
      class="col"
      (click)="onChangeColor(color)"
    ></div>
  </div>
</div>
