<div id="dishesEditor">
  <app-add-dish-form></app-add-dish-form>
  <div id="editDishes">
    <div id="dishList">
      <div class="dishInfo" *ngFor="let dish of dishes">
        <div class="dishName">{{ dish.name }}</div>
        <div class="dishButtons">
          <button (click)="editDish(dish)">EDIT</button>
          <button (click)="deleteDish(dish)">DELETE</button>
        </div>
      </div>
    </div>
    <div id="editFormContainer">
      <app-edit-dish-form
        *ngIf="edit != null"
        [dish]="edit"
        (dishEdited)="dishEdited($event)"
      ></app-edit-dish-form>
    </div>
  </div>
</div>
