.dish {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(171, 247, 152, 0.403);
  margin: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dishImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dishImg img {
  height: 300px;
  width: auto;
  display: block;
}

.dishName {
  font-size: 30px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}

.dishPrice {
  font-size: 20px;
  margin-bottom: 5px;
}

.dishType {
  font-size: 20px;
  margin-bottom: 5px;
}

.dishCategory {
  font-size: 20px;
  margin-bottom: 5px;
}

.dishProducts {
  font-size: 20px;
  margin-bottom: 5px;
}

.dishAvgStars {
  font-size: 20px;
  margin-bottom: 5px;
}

.dishDescription {
  /* max-height: 200px; */
}

.setBottom {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.dishButtons {
  display: flex;
  position: relative;
  height: 30px;
  margin: 10px 0;
}

.cartButtons {
  display: flex;
  position: absolute;
  right: 0;
}

.cartButton {
  width: 30px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 30px;
  margin: 0 5px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.5s;
}


.addCartButton {
  height: 30px;
  background-color: rgb(237, 98, 74);
}

.addCartButton:hover {
  background-color: rgb(207, 58, 32);
}

.removeCartButton {
  padding-bottom: 5px;
  background-color: rgb(89, 127, 233);
}

.removeCartButton:hover {
  background-color: rgb(41, 86, 210);
}

.leftInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteDish {
  cursor: pointer;
  background-color: rgb(82, 78, 78);
  width: 120px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;
  border: 2px solid black;
  color: white;
}

.deleteDish:hover {
  background-color: rgb(48, 46, 46);
}

.hideAdd {
  display: none;
}

.stars {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 70%;
  height: 40px;
  margin: 10px 0;
}

.leftInfo {
  display: flex;
}

.warning {
  color: red;
  font-weight: bold;
  height: 30px;
  user-select: none;
}

.noInStock {
  margin: 10px 0;
}

.fewLeft {
  font-weight: bold;
}

.allOrdered {
  height: 30px;
  display: flex;
  align-items: center;
}