#container {
  /* width: 100%; */
  /* min-height: calc(100vh - 180px); */
  margin: 10px 10px 0 10px;
  box-sizing: border-box;
}

.dish {
  padding: 20px;
  background-color: rgb(164, 164, 165);
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  min-height: calc(100vh - 180px);
  display: flex;
  flex-direction: column;
}

.dishImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dishName {
  font-size: 30px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}

.dishPrice {
  font-size: 20px;
  margin-bottom: 5px;
}

.dishType {
  font-size: 20px;
  margin-bottom: 5px;
}

.dishCategory {
  font-size: 20px;
  margin-bottom: 5px;
}

.dishProducts {
  font-size: 20px;
  margin-bottom: 5px;
}

.dishAvgStars {
  font-size: 20px;
  margin-bottom: 5px;
}

.setBottom {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
}

.dishButtons {
  display: flex;
  position: relative;
  height: 30px;
  margin: 10px 0;
}

.cartButtons {
  display: flex;
  position: absolute;
  right: 0;
}

.cartButton {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 30px;
  margin: 0 5px;
  cursor: pointer;
  user-select: none;
}

.addCartButton {
  background-color: rgb(199, 55, 30);
}

.addCartButton:hover {
  background-color: rgb(160, 30, 7);
}

.removeCartButton {
  background-color: rgb(107, 142, 238);
}

.removeCartButton:hover {
  background-color: rgb(34, 69, 167);
}

.leftInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteDish {
  cursor: pointer;
  background-color: rgb(82, 78, 78);
  width: 120px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;
  border: 2px solid black;
  color: white;
}

.deleteDish:hover {
  background-color: rgb(48, 46, 46);
}

.hideAdd {
  display: none;
}

.stars {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(117, 113, 113);
}

.leftInfo {
  display: flex;
}

.warning {
  color: red;
  font-weight: bold;
  height: 30px;
}

.noInStock {
  margin: 10px 0;
}

.fewLeft {
  font-weight: bold;
}

.allOrdered {
  height: 30px;
  display: flex;
  align-items: center;
}

#commentFormAndErrors {
  display: flex;
  margin-top: 30px;
}

#errors {
  padding: 10px;
  color: rgb(168, 23, 23);
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

#comments {
  margin-top: 30px;
}

#commentsTitle {
  font-size: 30px;
}

.comment {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 10px;
}

.comment > div {
  margin-bottom: 5px;
}

.commentNick {
  width: 70%;
  font-size: 16px;
}

.commentDate {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.commentTitle {
  font-size: 20px;
}

.commentTitle,
.commentReview {
  width: 100%;
}
