<a routerLink="basket" routerLinkActive="active">
  <div id="basket">
    <!-- <a routerLink="basket" routerLinkActive="active">KOSZYK</a> -->
    <div class="navIcon">
      <img src="assets/cartIcon.png" alt="basket" />
      <div
        class="totalInBasket"
        [ngClass]="{
          hideTotalInBasket: totalDishes == 0,
          changeTotalInBusketColor: totalDishes > 10
        }"
      >
        {{ totalDishes }}
      </div>
    </div>
    <div class="navIconDesc">
      {{ sumPrice | number: "1.2-2" }} {{ currency }}
    </div>
  </div>
</a>
