:host {
  width: 80%;
}

#dishes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#dishes>div {
  width: 100%;
  margin: 5px 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* @media (max-width:1000px) {
  #dishes>div {
    width: 100%;
  }
} */