<div
  *ngIf="!dishInfo.hideAll"
  [ngStyle]="{ border: getBorder(dishInfo.expensive, dishInfo.cheap) }"
  class="dish"
>
  <div class="dishImg"><img src="{{ dish.url }}" alt="dishImg" /></div>
  <div class="dishName">{{ dish.name | uppercase }}</div>
  <div class="dishType">Typ kuchnii: {{ dish.kitchenType }}</div>
  <div class="dishCategory">Kategoria: {{ dish.category }}</div>
  <div class="dishProducts">Składniki: {{ dish.products }}</div>
  <div class="dishPrice">
    Cena: {{ dish.priceUSD * rate | number: "1.2-2" }} {{ currency }}
  </div>
  <!-- <div class="dishAvgStars">Średnia ocena: {{ dish.avgStars }}</div> -->
  <div class="dishDescription">{{ dish.description }}</div>
  <div class="setBottom">
    <div *ngIf="dish.available != 0; else notAvailable">
      <div class="dishButtons">
        <div
          class="leftInfo"
          *ngIf="dish.available - dishInfo.quantity < 10"
          [ngStyle]="{
            color: dish.available - dishInfo.quantity > 3 ? 'black' : 'red'
          }"
        >
          <div class="fewLeft">
            <div
              *ngIf="
                dish.available - dishInfo.quantity > 0;
                else noMoreAvailable
              "
            >
              Only {{ dish.available - dishInfo.quantity }} left
            </div>
          </div>
        </div>
        <div class="cartButtons">
          <div
            class="cartButton addCartButton"
            (click)="addButtonClick()"
            [ngClass]="{ hideAdd: dishInfo.hide }"
          >
            +
          </div>
          <div
            class="cartButton removeCartButton"
            (click)="removeButtonClick()"
          >
            -
          </div>
        </div>
      </div>
      <div class="stars">
        Oceń:
        <app-star
          *ngFor="let starImage of stars; index as i"
          [starImage]="starImage"
          (setDishStars)="setStars(i)"
        ></app-star>
      </div>
    </div>
    <div class="deleteDish" (click)="removeDishButtonClick()">USUŃ</div>
  </div>
</div>

<ng-template #notAvailable>
  <div class="warning noInStock">Nie ma tego dania w magazynie</div>
</ng-template>
<ng-template #noMoreAvailable>
  <div class="warning allOrdered">Zamówiłeś już całą dostępną ilość</div>
</ng-template>
