<div id="container">
  <div class="dish" *ngIf="dish != null">
    <div class="dishImg">
      <app-slider [urls]="dish.url"></app-slider>
    </div>
    <div class="dishName">{{ dish.name | uppercase }}</div>
    <div class="dishType">Typ kuchnii: {{ dish.kitchenType }}</div>
    <div class="dishCategory">Kategoria: {{ dish.category }}</div>
    <div class="dishProducts">Składniki: {{ dish.products }}</div>
    <div class="dishPrice">
      Cena: {{ dish.priceUSD * rate | number: "1.2-2" }} {{ currency }}
    </div>
    <div class="dishAvgStars">Średnia ocena: {{ dish.avgStars }}</div>
    <div class="dishDescription">{{ dish.description }}</div>
    <div class="setBottom">
      <div>
        <div class="dishButtons">
          <div class="stars">
            Oceń:
            <app-star
              *ngFor="let starImage of stars; index as i"
              [starImage]="starImage"
              (setDishStars)="setStars(i)"
            ></app-star>
          </div>
        </div>
      </div>
    </div>
    <div id="comments">
      <div id="commentsTitle">Komentarze:</div>
      <div id="commentFormAndErrors">
        <app-add-comment-form
          (addComment)="addComment($event)"
          (commentErrors)="updateCommentErrors($event)"
        ></app-add-comment-form>
        <div id="errors">
          <div class="error" *ngFor="let error of errors">
            {{ error }}
          </div>
        </div>
      </div>
      <div class="comment" *ngFor="let comment of comments">
        <div class="commentNick">{{ comment.nick }}</div>
        <div class="commentDate">{{ comment.date }}</div>
        <div class="commentTitle">{{ comment.title }}</div>
        <div class="commentReview">{{ comment.review }}</div>
      </div>
    </div>
  </div>
</div>
