:host {
  width: 80%;
}

#dishes {
  width: 100%;
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(3, calc(100%/3));
  /* grid-template-rows: repeat(4, 950px); */
}

#dishes>div {
  /* width: 100%; */
  margin: 5px 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

#controls{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

@media (max-width: 1500px) {
  #dishes {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 1200px) {
  :host {
    width: 100%;
  }
}

@media (max-width: 800px) {
  #dishes {
    grid-template-columns: 100%;
  }
}