<div>
  <div class="filter">
    Wybierz swoje typy kuchnii
    <div *ngFor="let type of kitchenTypes">
      <input type="checkbox" name="{{ type }}" />{{ type }}
    </div>
  </div>
  <div class="filter">
    Wybierz zakres cenowy
    <div>
      <input type="text" name="mini" (input)="miniChange($event)" />
      <input type="text" name="maxi" (input)="maxiChange($event)" />
      <div>{{ miniPrice }}</div>
      <div>{{ maxiPrice }}</div>
      <div>{{ fromPrice }}</div>
      <div>{{ toPrice }}</div>
    </div>
  </div>
  <button (click)="filter()">Filtuj</button>
</div>
